{% extends 'main\base.html' %}



{% block content %}

      <br><br>
      <h2 class="display-4 text-center ">Login</h2>
   
      <div style="text-align:center">
        <br><br>
        <a href="{% url 'social:begin' 'twitter' %}" ><button class="text-center btn btn-primary btn-social btn-twitter" type="submit"> 
            <i class="fa fa-twitter " style="align-content: center"></i> &nbsp; &nbsp; &nbsp; &nbsp; Sign in with Twitter 
        </button></a>
      
      </div>
  
  
{% endblock %}